body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #080808;
  color: lightgray;
}

a {
  color: #00B7FF;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
	
.delete-form button {
  color: red;
}

.flex-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

li {
  list-style: none;
}

input[type="text"] {
  margin: 3px;
}